// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with brower-based text zoom or user-set defaults.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.

$base-font-size: 16px;
$base-line-height: 1.25;
$em-base: $base-font-size !default;

$wrapper-width: 1920;
$gutter: rem-calc($base-font-size + 3);
$gutter--half: $gutter / 2;
$gutter--double: $gutter * 2;

$ms-base: $base-font-size 20;
$ms-ratio: $golden;

/** @color white */
$color--white: #fcfcfc;
/** @color lightest-grey */
$color--lightest-grey: #eeeeee;
/** @color lighter-grey */
$color--lighter-grey: #dfdfdf;
/** @color light-grey */
$color--light-grey: #c4c4c4;
/** @color grey */
$color--grey: #808080;
/** @color dark-grey */
$color--dark-grey: #525252;
/** @color darker-grey */
$color--darker-grey: #414141;
/** @color darkest-grey */
$color--darkest-grey: #363636;
/** @color black */
$color--black: #1c1c1c;

/** @color green */
$color--green: #35c13a;
/** @color lighter-green */
$color--lighter-green: #3be541;
/** @color red */
$color--red: #c62d32;
/** @color lighter-red */
$color--lighter-red: #ee393c;

/**
 * The main brand color variabled.
 *
 * @nuclide Primary-Color
 * @section Colors > Brand
 */
$color--primary: $color--black;

/**
 * The main brand color variable when hovered.
 *
 * @nuclide Primary-Color-Hover
 * @section Colors > Brand
 */
$color--primary--hover: $color--grey;

/**
 * An alternative brand color variable.
 *
 * @nuclide Secondary-Color
 * @section Colors > Brand
 */
$color--secondary: $color--dark-grey;

/**
 * An alternative brand color variable when hovered.
 *
 * @nuclide Secondary-Color-Hover
 * @section Colors > Brand
 */
$color--secondary--hover: $color--light-grey;

/**
 * The main color for depicting errors or dangerous actions.
 *
 * @nuclide Error-Color
 * @section Colors > Semantic
 */
$color--error: $color--red;

/**
 * The main color for depicting errors or dangerous actions when hovered.
 *
 * @nuclide Error-Color-Hover
 * @section Colors > Semantic
 */
$color--error--hover: $color--lighter-red;

/**
 * The main color for depicting valid states or affirmative actions.
 *
 * @nuclide Error-Color-Hover
 * @section Colors > Semantic
 */
$color--valid: $color--green;

/**
 * The main color for depicting valid states or affirmative actions when hovered.
 *
 * @nuclide Error-Color-Hover
 * @section Colors > Semantic
 */
$color--valid--hover: $color--lighter-green;

/**
 * An array containing all the defined colors
 *
 * @nuclide Color-List
 * @section Colors > List
 */
$colors: "black" $color--black,
"darkest-grey" $color--darkest-grey,
"darker-grey" $color--darker-grey,
"dark-grey" $color--dark-grey,
"grey" $color--grey,
"light-grey" $color--light-grey,
"lighter-grey" $color--lighter-grey,
"lightest-grey" $color--lightest-grey,
"white" $color--white,
"green" $color--green,
"red" $color--red,
"lighter-green" $color--lighter-green,
"lighter-red" $color--lighter-red,
"primary" $color--primary,
"secondary" $color--secondary,
"error" $color--error,
"valid" $color--valid "transparent" transparent;

/**
 * The default body background colour
 *
 * @nuclide Body-Background-Color
 * @section General > Background Colors
 */
$body--bk-color: $color--white;

/**
 * The default page wrapper background color
 *
 * @nuclide Page-Wrapper-Background-Color
 * @section General > Background Colors
 */
$wrapper--bk-color: $color--white;

/**
 * Header color
 *
 * @nuclide Header-Color
 * @section General > Colors
 */
$header--color: $color--black;
/**
 * Text color
 *
 * @nuclide Text-Color
 * @section General > Colors
 */
$text--color: $color--darker-grey;
/**
 * Text color light
 *
 * @nuclide Text-Color-Light
 * @section General > Colors
 */
$text--color-light: $color--light-grey;

/**
 * The default link color
 *
 * @nuclide Link-Color
 * @section General > Links
 */
$link--color: $color--dark-grey;

/**
 * The default link color when hovered
 *
 * @nuclide Link-Color-Hover
 * @section General > Links
 */
$link--color--hover: $color--darkest-grey;

/**
 * The default link decoration
 *
 * @nuclide Link-Decoration
 * @section General > Links
 */
$link--decoration: underline;

/**
 * The default link decoration when hovered
 *
 * @nuclide Link-Decoration
 * @section General > Links
 */
$link--decoration--hover: underline;

/**
 * The default border color
 *
 * @nuclide Border-Color
 * @section General > Border
 */
$border--color: $color--light-grey;

/**
 * The default border width
 *
 * @nuclide Border-Width
 * @section General > Border
 */
$border--width: 1px;

/**
 * The thick border width
 *
 * @nuclide Border-Width-Thick
 * @section General > Border
 */
$border--width--thick: $border--width * 2;

/**
 * The thicker border width
 *
 * @nuclide Border-Width-Thicker
 * @section General > Border
 */
$border--width--thicker: $border--width * 3;

/**
 * The thickest border width
 *
 * @nuclide Border-Width-Thickest
 * @section General > Border
 */
$border--width--thickest: $border--width * 4;

/**
 * The default border stroke
 *
 * @nuclide Border-Stroke
 * @section General > Border
 */
$border--stroke: solid;

/**
 * The default border
 *
 * @nuclide Border
 * @section General > Border
 */
$border: $border--width $border--stroke $border--color;

/**
 * The base font family
 *
 * @nuclide Font-Family
 * @section Font
 */
$font--family: "Roboto", "Avenir", "Verdana", sans-serif;


/**
 * The base font family emphasis type oblique/italic
 *
 * @nuclide Font-Family-Emphasis
 * @section Font
 */
$font--emphasis: italic;

/**
 * The base font family weight light
 *
 * @nuclide Font-Family-Weight-Light
 * @section Font > Weights
 */
$font--weight--light: 300;
/**
 * The base font family weight regular
 *
 * @nuclide Font-Family-Weight-Regular
 * @section Font > Weights
 */
$font--weight--regular: 400;
/**
 * The base font family weight medium
 *
 * @nuclide Font-Family-Weight-Medium
 * @section Font > Weights
 */
$font--weight--medium: 500;
/**
 * The base font family weight semi-bold
 *
 * @nuclide Font-Family-Weight-Semi-Bold
 * @section Font > Weights
 */
$font--weight--semi-bold: 600;
/**
 * The base font family weight bold
 *
 * @nuclide Font-Family-Weight-Bold
 * @section Font > Weights
 */
$font--weight--bold: 700;
/**
 * The base font family weight black
 *
 * @nuclide Font-Family-Weight-Black
 * @section Font > Weights
 */
$font--weight--black: 900;

/**
 * Extra small font size
 *
 * @nuclide Font-Minus-Two
 * @section Font > Sizes
 */
$font--size--minus-two: rem-calc(ms(-2));
/**
 * Small font size
 *
 * @nuclide Font-Minus-One
 * @section Font > Sizes
 */
$font--size--minus-one: rem-calc(ms(-1));
/**
 * Normal font size
 *
 * @nuclide Font-One
 * @section Font > Sizes
 */
$font--size--one: rem-calc(ms(0));
/**
 * Font size two
 *
 * @nuclide Font-Two
 * @section Font > Sizes
 */
$font--size--two: rem-calc(ms(1));
/**
 * Font size three
 *
 * @nuclide Font-Three
 * @section Font > Sizes
 */
$font--size--three: rem-calc(ms(2));
/**
 * Font size four
 *
 * @nuclide Font-Four
 * @section Font > Sizes
 */
$font--size--four: rem-calc(ms(3));
/**
 * Font size five
 *
 * @nuclide Font-Five
 * @section Font > Sizes
 */
$font--size--five: rem-calc(ms(4));
/**
 * Font size six
 *
 * @nuclide Font-Six
 * @section Font > Sizes
 */
$font--size--six: rem-calc(ms(5));
/**
 * Font size seven
 *
 * @nuclide Font-Seven
 * @section Font > Sizes
 */
$font--size--seven: rem-calc(ms(6));
/**
 * Font size eight
 *
 * @nuclide Font-Eight
 * @section Font > Sizes
 */
$font--size--eight: rem-calc(ms(7));
/**
 * Font size nine
 *
 * @nuclide Font-Nine
 * @section Font > Sizes
 */
$font--size--nine: rem-calc(ms(8));
/**
 * Font size ten
 *
 * @nuclide Font-Ten
 * @section Font > Sizes
 */
$font--size--ten: rem-calc(ms(9));
/**
 * Font size eleven
 *
 * @nuclide Font-Eleven
 * @section Font > Sizes
 */
$font--size--eleven: rem-calc(ms(10));
/**
 * Font size twelve
 *
 * @nuclide Font-Twelve
 * @section Font > Sizes
 */
$font--size--twelve: rem-calc(ms(11));

/**
 * Font leading
 *
 * @nuclide Font-Leading
 * @section Font > Leading
 */
$font--leading: rem-calc(4px);
/**
 * Font leading tight
 *
 * @nuclide Font-Leading-Tight
 * @section Font > Leading
 */
$font--leading--tight: rem-calc(2px);
/**
 * Font leading loose
 *
 * @nuclide Font-Leading-Loose
 * @section Font > Leading
 */
$font--leading--loose: rem-calc(6px);

/**
 * Form default width
 *
 * @nuclide Form-Width
 * @section Form
 */
$form--width: 100%;
/**
 * Form padding
 *
 * @nuclide Form-Padding
 * @section Form > Input
 */
$form--padding: rem-calc(4) rem-calc(6);
/**
 * Form border
 *
 * @nuclide Form-Border
 * @section Form
 */
$form--border: $border--width $border--stroke $color--light-grey;
/**
 * Form border when focused
 *
 * @nuclide Form-Border-Focus
 * @section Form
 */
$form--border--focus: $border--width $border--stroke $color--primary;
/**
 * Form font size
 *
 * @nuclide Form-Font-Size
 * @section Form
 */
$form--font--size: $font--size--one;
/**
 * Form input text color
 *
 * @nuclide Input-Color
 * @section Form > Input
 */
$input--color: $color--black;
/**
 * Form input text focus color
 *
 * @nuclide Input-Focus-Color
 * @section Form > Input
 */
$input--focus--color: $color--black;
/**
 * Form input background color
 *
 * @nuclide Background-Color
 * @section Form > Input
 */
$input--bk-color: $color--white;
/**
 * Form input background focus color
 *
 * @nuclide Background-Color-Focus
 * @section Form > Input
 */
$input--focus--bk-color: $color--white;

/**
 * Form select padding, can differ slightly to input padding
 *
 * @nuclide Select-Padding
 * @section Form > Select
 */
$select--padding: rem-calc(4) rem-calc(6);

/**
 * Button padding
 *
 * @nuclide Button-Padding
 * @section Buttons > Default
 */
$button--padding: rem-calc(5) rem-calc(12) rem-calc(5);
/**
 * Button color
 *
 * @nuclide Button-Color
 * @section Buttons > Default
 */
$button--color: $color--white;

/**
 * Button color
 *
 * @nuclide Button-Color
 * @section Buttons > Default
 */
$button--color--hover: $color--white;

/**
 * Button background color
 *
 * @nuclide Button-Background-Colour
 * @section Buttons > Default
 */
$button--bk-color: $color--primary;
/**
 * Button background color when hovered
 *
 * @nuclide Button-Background-Colour-Hovered
 * @section Buttons > Default
 */
$button--bk-color--hover: $color--primary--hover;

/**
 * Button border
 *
 * @nuclide Button-Border
 * @section Buttons > Default
 */
$button--border: $border--width $border--stroke $color--primary;
/**
 * Button border when hovered
 *
 * @nuclide Button-Border-Hover
 * @section Buttons > Default
 */
$button--border--hover: $border--width $border--stroke $color--primary--hover;

/**
 * Button color disabled
 *
 * @nuclide Button-Color-Disabled
 * @section Buttons > Disabled
 */
$button--color--disabled: $color--lighter-grey;

/**
 * Button background color disabled
 *
 * @nuclide Button-Background-Color-Disabled
 * @section Buttons > Disabled
 */
$button--bk-color-disabled: $color--light-grey;
/**
 * Button Border disabled
 *
 * @nuclide Button-Border-Disabled
 * @section Buttons > Disabled
 */
$button--border--disabled: $border--width $border--stroke $color--light-grey;

/**
 * Global border radius
 *
 * @nuclide Border-Radius
 * @section General > Miscellaneous
 */
$border--radius: 3px;
/**
 * Default drop shadow
 *
 * @nuclide Drop-Shadow
 * @section General > Miscellaneous
 */
$drop-shadow: rgba(0, 0, 0, .2) 1px 1px 3px;
/**
 * The default transparent overlay background color
 *
 * @nuclide Modal-Overlay
 * @section General > Miscellaneous
 */
$modal--overlay--bk-color: rgba(238, 238, 238, 0.8);
/**
 * Default selection background color
 *
 * @nuclide Selection-Background-Color
 * @section General > Miscellaneous
 */
$selection-background-color: $color--primary;
/**
 * Default selection color
 *
 * @nuclide Selection-Color
 * @section General > Miscellaneous
 */
$selection-color: $color--white;

/**
 * Default transition
 *
 * @nuclide Default-Transition
 * @section General > Miscellaneous
 */
$default-transition: all 0.2s ease-in-out;

/**
 * Media query extra small range
 *
 * @nuclide X-Small-Range
 * @section Media Queries > Ranges
 */
$xsml-range: (421px, 767px);

/**
 * Media query small range
 *
 * @nuclide Small-Range
 * @section Media Queries > Ranges
 */
$sml-range: (768px, 1023px);

/**
 * Media query medium range
 *
 * @nuclide Medium-Range
 * @section Media Queries > Ranges
 */
$med-range: (1024px, 1239px);

/**
 * Media query large range
 *
 * @nuclide Large-Range
 * @section Media Queries > Ranges
 */
$lrg-range: (1240px, 1439px);

/**
 * Media query extra large range
 *
 * @nuclide X-Large-Range
 * @section Media Queries > Ranges
 */
$xlrg-range: (1440px, 1599px);

/**
 * Media query extra extra large range
 *
 * @nuclide XX-Large-Range
 * @section Media Queries > Ranges
 */
$xxlrg-range: (1600px);

/**
 * Media query extra small range upper bound
 *
 * @nuclide X-Small-Range-Upper-Bound
 * @section Media Queries > Bounds
 */
$xsml: upper-bound($xsml-range);

/**
 * Media query small range upper bound
 *
 * @nuclide Small-Range-Upper-Bound
 * @section Media Queries > Bounds
 */
$sml: upper-bound($sml-range);

/**
 * Media query medium range upper bound
 *
 * @nuclide Med-Range-Upper-Bound
 * @section Media Queries > Bounds
 */
$med: upper-bound($med-range);

/**
 * Media query large range upper bound
 *
 * @nuclide Large-Range-Upper-Bound
 * @section Media Queries > Bounds
 */
$lrg: upper-bound($lrg-range);

/**
 * Media query extra large range upper bound
 *
 * @nuclide X-Large-Range-Upper-Bound
 * @section Media Queries > Bounds
 */
$xlrg: upper-bound($xlrg-range);

/**
 * Media query extra extra large range upper bound
 *
 * @nuclide XX-Large-Range-Upper-Bound
 * @section Media Queries > Bounds
 */
$xxlrg: upper-bound($xxlrg-range);

/**
 * Media query screen only
 *
 * @nuclide Screen-Only
 * @section Media Queries > Helpers
 */
$screen: "only screen";

/**
 * Media query landscape
 *
 * @nuclide Screen-Only
 * @section Media Queries > Helpers
 */
$landscape: "#{$screen} and (orientation: landscape)";

/**
 * Media query portrait
 *
 * @nuclide Screen-Only
 * @section Media Queries > Helpers
 */
$portrait: "#{$screen} and (orientation: portrait)";

/**
 * Media extra small up
 *
 * @nuclide X-Small-Up
 * @section Media Queries > Helpers
 */
$xsml-up: "#{$screen} and (min-width:#{lower-bound($xsml-range)})";

/**
 * Media extra small down
 *
 * @nuclide X-Small-Down
 * @section Media Queries > Helpers
 */
$xsml-down: "#{$screen} and (max-width:#{lower-bound($xsml)})";

/**
 * Media extra small only
 *
 * @nuclide X-Small-Only
 * @section Media Queries > Helpers
 */
$xsml-only: "#{$screen} and (max-width: #{upper-bound($xsml-range)})";

/**
 * Media small up
 *
 * @nuclide Small-Up
 * @section Media Queries > Helpers
 */
$sml-up: "#{$screen} and (min-width:#{lower-bound($sml-range)})";

/**
 * Media small down
 *
 * @nuclide Small-Down
 * @section Media Queries > Helpers
 */
$sml-down: "#{$screen} and (max-width:#{lower-bound($sml)})";

/**
 * Media small only
 *
 * @nuclide Small-Only
 * @section Media Queries > Helpers
 */
$sml-only: "#{$screen} and (min-width:#{lower-bound($sml-range)}) and (max-width:#{upper-bound($sml-range)})";

/**
 * Media medium up
 *
 * @nuclide Med-Up
 * @section Media Queries > Helpers
 */
$med-up: "#{$screen} and (min-width:#{lower-bound($med-range)})";

/**
 * Media medium down
 *
 * @nuclide Med-Down
 * @section Media Queries > Helpers
 */
$med-down: "#{$screen} and (max-width:#{lower-bound($med)})";

/**
 * Media medium only
 *
 * @nuclide Med-Only
 * @section Media Queries > Helpers
 */
$med-only: "#{$screen} and (min-width:#{lower-bound($med-range)}) and (max-width:#{upper-bound($med-range)})";

/**
 * Media large up
 *
 * @nuclide Large-Up
 * @section Media Queries > Helpers
 */
$lrg-up: "#{$screen} and (min-width:#{lower-bound($lrg-range)})";

/**
 * Media large down
 *
 * @nuclide Large-Down
 * @section Media Queries > Helpers
 */
$lrg-down: "#{$screen} and (max-width:#{lower-bound($lrg)})";

/**
 * Media large only
 *
 * @nuclide Large-Only
 * @section Media Queries > Helpers
 */
$lrg-only: "#{$screen} and (min-width:#{lower-bound($lrg-range)}) and (max-width:#{upper-bound($lrg-range)})";

/**
 * Media extra large up
 *
 * @nuclide X-Large-Up
 * @section Media Queries > Helpers
 */
$xlrg-up: "#{$screen} and (min-width:#{lower-bound($xlrg-range)})";

/**
 * Media extra large down
 *
 * @nuclide X-Large-Down
 * @section Media Queries > Helpers
 */
$xlrg-down: "#{$screen} and (max-width:#{lower-bound($xlrg)})";

/**
 * Media extra large only
 *
 * @nuclide X-Large-Only
 * @section Media Queries > Helpers
 */
$xlrg-only: "#{$screen} and (min-width:#{lower-bound($xlrg-range)}) and (max-width:#{upper-bound($xlrg-range)})";

/**
 * Media extra extra large up
 *
 * @nuclide XX-Large-Up
 * @section Media Queries > Helpers
 */
$xxlrg-up: "#{$screen} and (min-width:#{lower-bound($xxlrg-range)})";
