/**
 * @atom Border
 * @section Layout > Borders
 * @modifiers
 *  .border--tight Border with tighter padding and margin
 *  .border--loose Border with looser padding and margin
 *  .border--thick Border with thick stroke width
 *  .border--thicker Border with thicker stroke width
 *  .border--thickest Border with thickest stroke width
 *  .border--none Remove the border on all sides
 *  .border--top--none Remove the border on the top side
 *  .border--right--none Remove the border on the right side
 *  .border--bottom--none Remove the border on the bottom side
 *  .border--left--none Remove the border on the left side
 * @markup
 *  <div class="border--bottom"><p>Border Bottom</p></div>
 *  <div class="border--bottom border--tight"><p>Border Bottom Tight</p></div>
 *  <div class="border--bottom border--loose"><p>Border Bottom Loose</p></div>
 *  <div class="border--bottom border--thick"><p>Border Bottom Thick</p></div>
 *  <div class="border--bottom border--thicker"><p>Border Bottom Thicker</p></div>
 *  <div class="border--bottom border--thickest"><p>Border Bottom Thickest</p></div>
 *  <div class="border--right text--align-right"><p>Border Right</p></div>
 *  <div class="border--right border--tight text--align-right"><p>Border Right Tight</p></div>
 *  <div class="border--right border--loose text--align-right"><p>Border Right Loose</p></div>
 *  <div class="border--right border--thick text--align-right"><p>Border Right Thick</p></div>
 *  <div class="border--right border--thicker text--align-right"><p>Border Right Thicker</p></div>
 *  <div class="border--right border--thickest text--align-right"><p>Border Right Thickest</p></div>
 *  <div class="border--left"><p>Border Left</p></div>
 *  <div class="border--left border--tight"><p>Border Left Tight</p></div>
 *  <div class="border--left border--loose"><p>Border Left Loose</p></div>
 *  <div class="border--left border--thick"><p>Border Left Thick</p></div>
 *  <div class="border--left border--thicker"><p>Border Left Thicker</p></div>
 *  <div class="border--left border--thickest"><p>Border Left Thickest</p></div>
 *  <div class="border--top"><p>Border Top</p></div>
 *  <div class="border--top border--tight"><p>Border Top Tight</p></div>
 *  <div class="border--top border--loose"><p>Border Top Loose</p></div>
 *  <div class="border--top border--thick"><p>Border Top Thick</p></div>
 *  <div class="border--top border--thicker"><p>Border Top Thicker</p></div>
 *  <div class="border--top border--thickest"><p>Border Top Thickest</p></div>
 */

.border--bottom {
    border-bottom: $border;
    padding-bottom: $gutter;
    margin-bottom: $gutter;

    &.border--tight {
        padding-bottom: $gutter--half;
        margin-bottom: $gutter--half;
    }

    &.border--loose {
        padding-bottom: $gutter--double;
        margin-bottom: $gutter--double;
    }
}

.border--top {
    border-top: $border;
    padding-top: $gutter;
    margin-top: $gutter;

    &.border--tight {
        padding-top: $gutter--half;
        margin-top: $gutter--half;
    }

    &.border--loose {
        padding-top: $gutter--double;
        margin-top: $gutter--double;
    }
}

.border--left {
    border-left: $border;
    padding-left: $gutter;

    &.border--tight {
        padding-left: $gutter--half;
    }

    &.border--loose {
        padding-left: $gutter--double;
    }
}

.border--right {
    border-right: $border;
    padding-right: $gutter;

    &.border--tight {
        padding-right: $gutter--half;
    }

    &.border--loose {
        padding-right: $gutter--double;
    }
}

.border--top--none {
    border-top: 0;
}

.border--right--none {
    border-right: 0;
}

.border--bottom--none {
    border-bottom: 0;
}

.border--left--none {
    border-left: 0;
}

.border--none {
    border: 0;
}

.border--thick {
    border-width: $border--width--thick;
}

.border--thicker {
    border-width: $border--width--thicker;
}

.border--thickest {
    border-width: $border--width--thickest;
}
