
.flex--row {
  flex-direction: row;
}

.flex--row-reverse {
  flex-direction: row-reverse;
}

.flex--column {
  flex-direction: column;
}

.flex--column-reverse {
  flex-direction: column-reverse;
}

.justify-content--space-between {
  justify-content: space-between;
}

.justify-content--center {
  justify-content: center;
}

.justify-content--flex-end {
  justify-content: flex-end;
}

@media #{$xlrg-down} {
  .flex--xlrg--row {
    flex-direction: row;
  }

  .flex--xlrg--row-reverse {
    flex-direction: row-reverse;
  }

  .flex--xlrg--column {
    flex-direction: column;
  }

  .flex--xlrg--column-reverse {
    flex-direction: column-reverse;
  }

  .justify-content--xlrg--space-between {
    justify-content: space-between;
  }

  .justify-content--xlrg--center {
    justify-content: center;
  }

  .justify-content--xlrg--flex-end {
    justify-content: flex-end;
  }
}

@media #{$lrg-down} {
  .flex--lrg--row {
    flex-direction: row;
  }

  .flex--lrg--row-reverse {
    flex-direction: row-reverse;
  }

  .flex--lrg--column {
    flex-direction: column;
  }

  .flex--lrg--column-reverse {
    flex-direction: column-reverse;
  }

  .justify-content--lrg--space-between {
    justify-content: space-between;
  }

  .justify-content--lrg--center {
    justify-content: center;
  }

  .justify-content--lrg--flex-end {
    justify-content: flex-end;
  }
}

@media #{$med-down} {
  .flex--med--row {
    flex-direction: row;
  }

  .flex--med--row-reverse {
    flex-direction: row-reverse;
  }

  .flex--med--column {
    flex-direction: column;
  }

  .flex--med--column-reverse {
    flex-direction: column-reverse;
  }

  .justify-content--med--space-between {
    justify-content: space-between;
  }

  .justify-content--med--center {
    justify-content: center;
  }

  .justify-content--med--flex-end {
    justify-content: flex-end;
  }
}

@media #{$sml-down} {
  .flex--sml--row {
    flex-direction: row;
  }

  .flex--sml--row-reverse {
    flex-direction: row-reverse;
  }

  .flex--sml--column {
    flex-direction: column;
  }

  .flex--sml--column-reverse {
    flex-direction: column-reverse;
  }

  .justify-content--sml--space-between {
    justify-content: space-between;
  }

  .justify-content--sml--center {
    justify-content: center;
  }

  .justify-content--sml--flex-end {
    justify-content: flex-end;
  }
}

@media #{$xsml-down} {
  .flex--xsml--row {
    flex-direction: row;
  }

  .flex--xsml--row-reverse {
    flex-direction: row-reverse;
  }

  .flex--xsml--column {
    flex-direction: column;
  }

  .flex--xsml--column-reverse {
    flex-direction: column-reverse;
  }

  .justify-content--xsml--space-between {
    justify-content: space-between;
  }

  .justify-content--xsml--center {
    justify-content: center;
  }

  .justify-content--xsml--flex-end {
    justify-content: flex-end;
  }
}
