/**
 * @atom Panel
 * @section Layout > Panels
 * @modifiers
 *  .panel--tight Panel with tight padding
 *  .panel--loose Panel with loose padding
 * @markup
 *  <div class="panel margin-bottom--gutter"><p class="margin-bottom--none">Panel</p></div>
 *  <div class="panel panel--tight margin-bottom--gutter"><p class="margin-bottom--none">Panel Tight</p></div>
 *  <div class="panel panel--loose margin-bottom--gutter"><p class="margin-bottom--none">Panel Loose</p></div>
 */
.panel {
  border: $border;
  border-radius: $border--radius;
  height: 100%;
  padding: $gutter;

  &.panel--tight {
    padding: $gutter--half;
  }

  &.panel--loose {
    padding: $gutter--double;
  }
}
