
.push-1 {
  margin-left: 8.3333%;
}

.push-2 {
  margin-left: 16.6666%;
}

.push-3 {
  margin-left: 25%;
}

.push-4 {
  margin-left: 33.3333%;
}

.push-5 {
  margin-left: 41.6666%;
}

.push-6 {
  margin-left: 50%;
}

.push-7 {
  margin-left: 58.3333%;
}

.push-8 {
  margin-left: 66.6666%;
}

.push-9 {
  margin-left: 75%;
}

.push-10 {
  margin-left: 83.3333%;
}

.push-11 {
  margin-left: 91.6666%;
}

@media #{$xlrg-down} {


  .push-xlrg-1 {
    margin-left: 8.3333%;
  }

  .push-xlrg-2 {
    margin-left: 16.6666%;
  }

  .push-xlrg-3 {
    margin-left: 25%;
  }

  .push-xlrg-4 {
    margin-left: 33.3333%;
  }

  .push-xlrg-5 {
    margin-left: 41.6666%;
  }

  .push-xlrg-6 {
    margin-left: 50%;
  }

  .push-xlrg-7 {
    margin-left: 58.3333%;
  }

  .push-xlrg-8 {
    margin-left: 66.6666%;
  }

  .push-xlrg-9 {
    margin-left: 75%;
  }

  .push-xlrg-10 {
    margin-left: 83.3333%;
  }

  .push-xlrg-11 {
    margin-left: 91.6666%;
  }
}

@media #{lrg-down} {

  .push-lrg-1 {
    margin-left: 8.3333%;
  }

  .push-lrg-2 {
    margin-left: 16.6666%;
  }

  .push-lrg-3 {
    margin-left: 25%;
  }

  .push-lrg-4 {
    margin-left: 33.3333%;
  }

  .push-lrg-5 {
    margin-left: 41.6666%;
  }

  .push-lrg-6 {
    margin-left: 50%;
  }

  .push-lrg-7 {
    margin-left: 58.3333%;
  }

  .push-lrg-8 {
    margin-left: 66.6666%;
  }

  .push-lrg-9 {
    margin-left: 75%;
  }

  .push-lrg-10 {
    margin-left: 83.3333%;
  }

  .push-lrg-11 {
    margin-left: 91.6666%;
  }
}

@media #{med-down} {


  .push-med-1 {
    margin-left: 8.3333%;
  }

  .push-med-2 {
    margin-left: 16.6666%;
  }

  .push-med-3 {
    margin-left: 25%;
  }

  .push-med-4 {
    margin-left: 33.3333%;
  }

  .push-med-5 {
    margin-left: 41.6666%;
  }

  .push-med-6 {
    margin-left: 50%;
  }

  .push-med-7 {
    margin-left: 58.3333%;
  }

  .push-med-8 {
    margin-left: 66.6666%;
  }

  .push-med-9 {
    margin-left: 75%;
  }

  .push-med-10 {
    margin-left: 83.3333%;
  }

  .push-med-11 {
    margin-left: 91.6666%;
  }
}

@media #{$sml-down} {

  .push-sml-1 {
    margin-left: 8.3333%;
  }

  .push-sml-2 {
    margin-left: 16.6666%;
  }

  .push-sml-3 {
    margin-left: 25%;
  }

  .push-sml-4 {
    margin-left: 33.3333%;
  }

  .push-sml-5 {
    margin-left: 41.6666%;
  }

  .push-sml-6 {
    margin-left: 50%;
  }

  .push-sml-7 {
    margin-left: 58.3333%;
  }

  .push-sml-8 {
    margin-left: 66.6666%;
  }

  .push-sml-9 {
    margin-left: 75%;
  }

  .push-sml-10 {
    margin-left: 83.3333%;
  }

  .push-sml-11 {
    margin-left: 91.6666%;
  }
}

@media #{$xsml-down} {


  .push-xsml-1 {
    margin-left: 8.3333%;
  }

  .push-xsml-2 {
    margin-left: 16.6666%;
  }

  .push-xsml-3 {
    margin-left: 25%;
  }

  .push-xsml-4 {
    margin-left: 33.3333%;
  }

  .push-xsml-5 {
    margin-left: 41.6666%;
  }

  .push-xsml-6 {
    margin-left: 50%;
  }

  .push-xsml-7 {
    margin-left: 58.3333%;
  }

  .push-xsml-8 {
    margin-left: 66.6666%;
  }

  .push-xsml-9 {
    margin-left: 75%;
  }

  .push-xsml-10 {
    margin-left: 83.3333%;
  }

  .push-xsml-11 {
    margin-left: 91.6666%;
  }
}
