/**
 * @atom Push
 * @section Layout > Grid
 * @modifiers
 *  .push-1 push one
 *  .push-2 push two
 *  .push-3 push three
 *  .push-4 push four
 *  .push-5 push five
 *  .push-6 push six
 *  .push-7 push seven
 *  .push-8 push eight
 *  .push-9 push nine
 *  .push-10 push ten
 *  .push-11 push eleven
 *  .push-xsml-1 push one up to xsml breakpoint
 *  .push-xsml-2 push two up to xsml breakpoint
 *  .push-xsml-3 push three up to xsml breakpoint
 *  .push-xsml-4 push four up to xsml breakpoint
 *  .push-xsml-5 push five up to xsml breakpoint
 *  .push-xsml-6 push six up to xsml breakpoint
 *  .push-xsml-7 push seven up to xsml breakpoint
 *  .push-xsml-8 push eight up to xsml breakpoint
 *  .push-xsml-9 push nine up to xsml breakpoint
 *  .push-xsml-10 push ten up to xsml breakpoint
 *  .push-xsml-11 push eleven up to xsml breakpoint
 *  .push-sml-1 push one p to sml breakpoint
 *  .push-sml-2 push two up to sml breakpoint
 *  .push-sml-3 push three up to sml breakpoint
 *  .push-sml-4 push four up to sml breakpoint
 *  .push-sml-5 push five up to sml breakpoint
 *  .push-sml-6 push six up to sml breakpoint
 *  .push-sml-7 push seven up to sml breakpoint
 *  .push-sml-8 push eight up to sml breakpoint
 *  .push-sml-9 push nine up to sml breakpoint
 *  .push-sml-10 push ten up to sml breakpoint
 *  .push-sml-11 push eleven up to sml breakpoint
 *  .push-med-1 push one p to med breakpoint
 *  .push-med-2 push two up to med breakpoint
 *  .push-med-3 push three up to med breakpoint
 *  .push-med-4 push four up to med breakpoint
 *  .push-med-5 push five up to med breakpoint
 *  .push-med-6 push six up to med breakpoint
 *  .push-med-7 push seven up to med breakpoint
 *  .push-med-8 push eight up to med breakpoint
 *  .push-med-9 push nine up to med breakpoint
 *  .push-med-10 push ten up to med breakpoint
 *  .push-med-11 push eleven up to med breakpoint
 *  .push-lrg-1 push one p to lrg breakpoint
 *  .push-lrg-2 push two up to lrg breakpoint
 *  .push-lrg-3 push three up to lrg breakpoint
 *  .push-lrg-4 push four up to lrg breakpoint
 *  .push-lrg-5 push five up to lrg breakpoint
 *  .push-lrg-6 push six up to lrg breakpoint
 *  .push-lrg-7 push seven up to lrg breakpoint
 *  .push-lrg-8 push eight up to lrg breakpoint
 *  .push-lrg-9 push nine up to lrg breakpoint
 *  .push-lrg-10 push ten up to lrg breakpoint
 *  .push-lrg-11 push eleven up to lrg breakpoint
 *  .push-xlrg-1 push one p to xlrg breakpoint
 *  .push-xlrg-2 push two up to xlrg breakpoint
 *  .push-xlrg-3 push three up to xlrg breakpoint
 *  .push-xlrg-4 push four up to xlrg breakpoint
 *  .push-xlrg-5 push five up to xlrg breakpoint
 *  .push-xlrg-6 push six up to xlrg breakpoint
 *  .push-xlrg-7 push seven up to xlrg breakpoint
 *  .push-xlrg-8 push eight up to xlrg breakpoint
 *  .push-xlrg-9 push nine up to xlrg breakpoint
 *  .push-xlrg-10 push ten up to xlrg breakpoint
 *  .push-xlrg-11 push eleven up to xlrg breakpoint
 * @markup
 *  <div class="container">
 *      <div class="row">
 *          <div class="column col-1 push-1">
 *              <div class="panel">
 *                  <p class="margin-bottom--none text--minus-one">Push 1</p>
 *              </div>
 *          </div>
 *      </div>
 *      <div class="row">
 *          <div class="column col-1 push-2">
 *              <div class="panel">
 *                  <p class="margin-bottom--none text--minus-one">Push 2</p>
 *              </div>
 *          </div>
 *      </div>
 *      <div class="row">
 *          <div class="column col-1 push-3">
 *              <div class="panel">
 *                  <p class="margin-bottom--none text--minus-one">Push 3</p>
 *              </div>
 *          </div>
 *      </div>
 *      <div class="row">
 *          <div class="column col-1 push-4">
 *              <div class="panel">
 *                  <p class="margin-bottom--none text--minus-one">Push 4</p>
 *              </div>
 *          </div>
 *      </div>
 *      <div class="row">
 *          <div class="column col-1 push-5">
 *              <div class="panel">
 *                  <p class="margin-bottom--none text--minus-one">Push 5</p>
 *              </div>
 *          </div>
 *      </div>
 *      <div class="row">
 *          <div class="column col-1 push-6">
 *              <div class="panel">
 *                  <p class="margin-bottom--none text--minus-one">Push 6</p>
 *              </div>
 *          </div>
 *      </div>
 *      <div class="row">
 *          <div class="column col-1 push-7">
 *              <div class="panel">
 *                  <p class="margin-bottom--none text--minus-one">Push 7</p>
 *              </div>
 *          </div>
 *      </div>
 *      <div class="row">
 *          <div class="column col-1 push-8">
 *              <div class="panel">
 *                  <p class="margin-bottom--none text--minus-one">Push 8</p>
 *              </div>
 *          </div>
 *      </div>
 *      <div class="row">
 *          <div class="column col-1 push-9">
 *              <div class="panel">
 *                  <p class="margin-bottom--none text--minus-one">Push 9</p>
 *              </div>
 *          </div>
 *      </div>
 *      <div class="row">
 *          <div class="column col-1 push-10">
 *              <div class="panel">
 *                  <p class="margin-bottom--none text--minus-one">Push 10</p>
 *              </div>
 *          </div>
 *      </div>
 *      <div class="row">
 *          <div class="column col-1 push-11">
 *              <div class="panel">
 *                  <p class="margin-bottom--none text--minus-one">Push 11</p>
 *              </div>
 *          </div>
 *      </div>
 *  </div>
 */

.push-1 {
  margin-left: 8.3333%;
}

.push-2 {
  margin-left: 16.6666%;
}

.push-3 {
  margin-left: 25%;
}

.push-4 {
  margin-left: 33.3333%;
}

.push-5 {
  margin-left: 41.6666%;
}

.push-6 {
  margin-left: 50%;
}

.push-7 {
  margin-left: 58.3333%;
}

.push-8 {
  margin-left: 66.6666%;
}

.push-9 {
  margin-left: 75%;
}

.push-10 {
  margin-left: 83.3333%;
}

.push-11 {
  margin-left: 91.6666%;
}

@media #{$xlarge-down} {


  .push-xlrg-1 {
    margin-left: 8.3333%;
  }

  .push-xlrg-2 {
    margin-left: 16.6666%;
  }

  .push-xlrg-3 {
    margin-left: 25%;
  }

  .push-xlrg-4 {
    margin-left: 33.3333%;
  }

  .push-xlrg-5 {
    margin-left: 41.6666%;
  }

  .push-xlrg-6 {
    margin-left: 50%;
  }

  .push-xlrg-7 {
    margin-left: 58.3333%;
  }

  .push-xlrg-8 {
    margin-left: 66.6666%;
  }

  .push-xlrg-9 {
    margin-left: 75%;
  }

  .push-xlrg-10 {
    margin-left: 83.3333%;
  }

  .push-xlrg-11 {
    margin-left: 91.6666%;
  }
}

@media #{$large-down} {

  .push-lrg-1 {
    margin-left: 8.3333%;
  }

  .push-lrg-2 {
    margin-left: 16.6666%;
  }

  .push-lrg-3 {
    margin-left: 25%;
  }

  .push-lrg-4 {
    margin-left: 33.3333%;
  }

  .push-lrg-5 {
    margin-left: 41.6666%;
  }

  .push-lrg-6 {
    margin-left: 50%;
  }

  .push-lrg-7 {
    margin-left: 58.3333%;
  }

  .push-lrg-8 {
    margin-left: 66.6666%;
  }

  .push-lrg-9 {
    margin-left: 75%;
  }

  .push-lrg-10 {
    margin-left: 83.3333%;
  }

  .push-lrg-11 {
    margin-left: 91.6666%;
  }
}

@media #{$medium-down} {


  .push-med-1 {
    margin-left: 8.3333%;
  }

  .push-med-2 {
    margin-left: 16.6666%;
  }

  .push-med-3 {
    margin-left: 25%;
  }

  .push-med-4 {
    margin-left: 33.3333%;
  }

  .push-med-5 {
    margin-left: 41.6666%;
  }

  .push-med-6 {
    margin-left: 50%;
  }

  .push-med-7 {
    margin-left: 58.3333%;
  }

  .push-med-8 {
    margin-left: 66.6666%;
  }

  .push-med-9 {
    margin-left: 75%;
  }

  .push-med-10 {
    margin-left: 83.3333%;
  }

  .push-med-11 {
    margin-left: 91.6666%;
  }
}

@media #{$small-down} {

  .push-sml-1 {
    margin-left: 8.3333%;
  }

  .push-sml-2 {
    margin-left: 16.6666%;
  }

  .push-sml-3 {
    margin-left: 25%;
  }

  .push-sml-4 {
    margin-left: 33.3333%;
  }

  .push-sml-5 {
    margin-left: 41.6666%;
  }

  .push-sml-6 {
    margin-left: 50%;
  }

  .push-sml-7 {
    margin-left: 58.3333%;
  }

  .push-sml-8 {
    margin-left: 66.6666%;
  }

  .push-sml-9 {
    margin-left: 75%;
  }

  .push-sml-10 {
    margin-left: 83.3333%;
  }

  .push-sml-11 {
    margin-left: 91.6666%;
  }
}

@media #{$xsmall-down} {


  .push-xsml-1 {
    margin-left: 8.3333%;
  }

  .push-xsml-2 {
    margin-left: 16.6666%;
  }

  .push-xsml-3 {
    margin-left: 25%;
  }

  .push-xsml-4 {
    margin-left: 33.3333%;
  }

  .push-xsml-5 {
    margin-left: 41.6666%;
  }

  .push-xsml-6 {
    margin-left: 50%;
  }

  .push-xsml-7 {
    margin-left: 58.3333%;
  }

  .push-xsml-8 {
    margin-left: 66.6666%;
  }

  .push-xsml-9 {
    margin-left: 75%;
  }

  .push-xsml-10 {
    margin-left: 83.3333%;
  }

  .push-xsml-11 {
    margin-left: 91.6666%;
  }
}
