.page-wrapper {
  min-height: 100%;
  padding: $gutter*2 $gutter*3;
}

.main-header {
  margin-bottom: $gutter;
}

@media #{$small-up} {

}

@media #{$medium-up} {

}

@media #{$large-up} {

}

@media #{$xlarge-up} {

}
