.page-wrapper {
  min-height: 100%;
}

.panel {
  background-color: $color--lightest-grey;
  border: $border--width $border--stroke $color--light-grey;
  border-radius: $border--radius;
  padding: $gutter--half;
}

@media #{$sml-up} {

}

@media #{med-up} {

}

@media #{lrg-up} {

}

@media #{$xlrg-up} {

}
