.page-wrapper {
  min-height: 100%;
  padding: $gutter*2 $gutter*3;
}

.main-header {
  margin-bottom: $gutter;
}

.panel {
  background-color: $color--lightest-grey;
  border: $border--width $border--stroke $color--light-grey;
  border-radius: $border--radius;
  padding: $gutter--half;
}

@media #{$small-up} {

}

@media #{$medium-up} {

}

@media #{$large-up} {

}

@media #{$xlarge-up} {

}
