.logo {
  width: remCalc(200px);
  height: remCalc(70px);
}

.panel {
  background-color: $color--lightest-grey;
  border: $border--width $border--stroke $color--light-grey;
  border-radius: $border--radius;
  padding: $gutter--half;
}
