// Todo: Add .button--icon-left and .button--icon-right

/**
 * @atom Button
 * @section Elements > Buttons
 * @modifiers
 *  .button--active The active state of the button
 *  .button--disabled The disabled state of the button
 *  .button--affirmative An encouraging button
 *  .button--destructive A dangerous button
 * @markup
 *  <button class="button">
 *    A button
 *  </button>
 *  <button class="button button--active">
 *    An active button
 *  </button>
 *  <button class="button button--disabled">
 *    A disabled button
 *  </button>
 *  <button class="button button--affirmative">
 *    An affirmative button
 *  </button>
 *  <button class="button button--destructive">
 *    A destructive button
 *  </button>
 */
.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  background: $button--bk-color;
  border: $button--border;
  color: $button--color;
  font-weight: $font--weight--medium;
  text-decoration: none;
  cursor: pointer;
  line-height: $base-line-height;
  padding: $button--padding;
  font-family: $font--family;
  transition: background-color 340ms ease, border-color 340ms ease;
  border-radius: $border--radius;
  -webkit-appearance: none;

  &.button--active,
  &:hover,
  &:focus,
  &:active {
    color: $button--color--hover;
    background: $button--bk-color--hover;
    border: $button--border--hover;
    text-decoration: none;
  }

  &.button--disabled,
  &:disabled {
    cursor: default;
    border: $button--border--disabled;
    color: $button--color--disabled;
    background-color: $button--bk-color-disabled;

    &:hover, &:active {
      cursor: default;
      border: $button--border--disabled;
      color: $button--color--disabled;
      background-color: $button--bk-color-disabled;
    }
  }

  &.button--destructive {
    border-color: $color--error;
    background-color: $color--error;
    color: $color--white;

    &:hover {
      border-color: $color--error--hover;
      background-color: $color--error--hover;
    }
  }

  &.button--affirmative {
    border-color: $color--valid;
    background-color: $color--valid;
    color: $color--white;

    &:hover {
      border-color: $color--valid--hover;
      background-color: $color--valid--hover;
    }
  }
}

/**
 * @atom Switch
 * @section Elements > Buttons
 * @modifiers
 *  .button--switch--on Button toggled on
 * @markup
 *  <button class="button--switch"></button>
 *  <button class="button--switch button--switch--on"></button>
 */
button.button--switch {
  border: none;
  height: rem-calc(28);
  width: rem-calc(48);
  border-radius: rem-calc(16);
  background-color: $color--red;
  overflow: hidden;
  position: relative;
  transition: background-color 100ms ease-in-out;

  &.button--switch--on {
    background-color: $color--green;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: rem-calc(26);
    height: rem-calc(26);
    background-color: $color--white;
    top: rem-calc(1);
    left: rem-calc(1);
    border-radius: rem-calc(14);
    transition: left 280ms ease-in-out;
  }

  &.button--switch--on:after {
    left: rem-calc(21);
  }
}

.button--icon-left {
  padding-right: $gutter--half;
}

.button--icon-right {
  padding-left: $gutter--half;
}
