$colors: "black" $color--black,
"darker-grey" $color--darker-grey,
"dark-grey" $color--dark-grey,
"grey" $color--grey,
"light-grey" $color--light-grey,
"lighter-grey" $color--lighter-grey,
"lightest-grey" $color--lightest-grey,
"white" $color--white;

@each $i in $colors {
  .bc-#{nth($i,1)} {
    background-color: #{nth($i,2)};
  }
  .color-#{nth($i,1)} {
    color: #{nth($i,2)};
  }
}

.color-error {
  color: $color--error;
}

.color-valid {
  color: $color--valid;
}

.bc-error {
  color: $color--error;
}

.bc-valid {
  color: $color--valid;
}
