fieldset {
  margin-bottom: $gutter;
}

input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="search"],
input[type="date"],
input[type="time"],
input[type="color"],
input[type="file"],
textarea,
select,
.read-only {
  box-sizing: border-box;
  border: $form--border;
  padding: $form--padding;
  outline: none;
  font-size: $form--font--size;
  font-family: $font--family;
  font-weight: $font--weight--regular;
  color: $input--color;
  width: $form--width;
  max-width: 100%;
  display: block;
  background: $color--white;
  border-radius: $border--radius;
  margin: 0;
  transition: background-color 280ms ease-in-out, border-color 400ms ease-in-out;

  &.form-error {
    background-color: #ffe0e8;
    border-color: $color--red;
  }
}

select {
  padding: $select--padding;
}

input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="color"]:focus,
textarea:focus {
  border: $form--border--focus;
  color: $input--focus--color;
}

label,
legend {
  display: block;
  font-weight: $font--weight--regular;
  font-size: $font--size--minus-one;
  margin: 0 0 rem-calc(6) 0;
}

select {
  width: $form--width;
}

label.inline {
  display: inline;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-bottom: 0;
  width: auto;
}

input:disabled {
  background-color: $color--lighter-grey;
}

legend span {
  font-weight: normal;
  font-size: $font--size--one;
  color: $text--color;
}

.input-label {
  margin-bottom: $gutter--half;
}

.read-only {
  min-height: rem-calc(34);
  background-color: $color--lighter-grey;
}

.form-field {
  padding-bottom: $gutter;
}

p.form-error, span.form-error {
  padding-top: $gutter--half;
  padding-bottom: 0;
  margin-bottom: 0;
  color: $color--red;
  font-style: italic;
}
