fieldset {
  margin-bottom: $gutter;
}

/**
 * @atom Input
 * @section Forms
 * @modifiers
 *  .input--inline Inline Input
 *  .input--valid Input is valid
 *  .input--error Input has an error
 * @markup
 *   <p>
 *     <input type="text"  placeholder="Text Input">
 *   </p>
 *   <p>
 *     <input class="input--valid" type="text"  placeholder="Valid Text Input">
 *   </p>
 *   <p>
 *     <input class="input--error" type="text"  placeholder="Error Text Input">
 *   </p>
 */
input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="search"],
input[type="date"],
input[type="time"],
input[type="color"],
textarea,
select {
  box-sizing: border-box;
  border: $form--border;
  padding: $form--padding;
  outline: none;
  font-size: $form--font--size;
  font-family: $font--family;
  font-weight: $font--weight--regular;
  color: $input--color;
  width: $form--width;
  max-width: 100%;
  display: block;
  background: $color--white;
  border-radius: $border--radius;
  margin: 0;
  transition: background-color 280ms ease-in-out, border-color 400ms ease-in-out;

  &.input--inline {
    display: inline-block;
    width: auto;
  }

  &.input--valid {
    border-color: $color--valid;
  }

  &.input--error {
    border-color: $color--error;
  }

  &[readonly] {
    background-color: $color--light-grey;
    border: $form--border;
  }

  &:focus {
    border: $form--border--focus;
    color: $input--focus--color;
  }

  &:disabled {
    background-color: $color--light-grey;
  }
}

select {
  padding: $select--padding;
}

input[type="file"] {
  @extend input
}

label,
legend {
  display: block;
  font-size: $font--size--minus-one;
  font-family: $font--family;
  font-weight: $font--weight--regular;
  color: $text--color;
  margin: 0 0 rem-calc(6) 0;
}

select {
  width: $form--width;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-bottom: 0;
  width: auto;

  &:disabled {
    background-color: $color--light-grey;
  }
}

legend span {
  font-weight: normal;
  font-size: $font--size--one;
  color: $text--color;
}

/**
 * @atom Label
 * @section Forms
 * @modifiers
 *  .label--text Label text
 *  .label--inline Inline label
 * @markup
 *  <label class="label--text">Label Text</label>
 *  <input type="text"  placeholder="Text Input">
 */
label {
  &.label--text {
    margin-bottom: $gutter--half;
  }

  &.label--inline {
    display: inline;
  }
}

.form-field {
  padding-bottom: $gutter;
}

/**
 * @atom Field Error
 * @section Forms
 * @markup
 *  <label class="label--text">Label Text</label>
 *  <input type="text" placeholder="Text Input">
 *  <p class="field--error">Oh no!</p>
 */
.field--error {
  padding-top: $gutter--half;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: $font--size--minus-one;
  color: $color--red;
}
