/**
 * @atom Input
 * @section Forms > Inputs
 * @modifiers
 *  .input--inline Inline Input
 *  .input--valid Input is valid
 *  .input--error Input has an error
 * @markup
 *   <div class="form-field">
 *       <input type="text"  placeholder="Text Input">
 *   </div>
 *   <div class="form-field">
 *       <input class="input--valid" type="text"  placeholder="Valid Text Input">
 *   </div>
 *   <div class="form-field">
 *       <input class="input--error" type="text"  placeholder="Error Text Input">
 *   </div>
 */
input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="search"],
input[type="date"],
input[type="time"],
input[type="color"],
textarea,
select {
  box-sizing: border-box;
  border: $form--border;
  padding: $form--padding;
  outline: none;
  font-size: $form--font--size;
  font-family: $font--family;
  font-weight: $font--weight--regular;
  color: $input--color;
  width: $form--width;
  max-width: 100%;
  display: block;
  background: $color--white;
  border-radius: $border--radius;
  margin: 0;
  transition: background-color 280ms ease-in-out, border-color 400ms ease-in-out;

  &.input--inline {
    display: inline-block;
    width: auto;
  }

  &.input--valid {
    border-color: $color--valid;
  }

  &.input--error {
    border-color: $color--error;
  }

  &[readonly] {
    background-color: $color--light-grey;
    border: $form--border;
  }

  &:focus {
    border: $form--border--focus;
    color: $input--focus--color;
  }

  &:disabled {
    background-color: $color--light-grey;
  }
}

/**
 * @atom Input
 * @section Forms > Inputs
 * @modifiers
 *  .input--inline Inline Input
 *  .input--valid Input is valid
 *  .input--error Input has an error
 * @markup
 *   <div class="form-field">
 *       <select>
 *           <option value="-1">Please Choose</option>
 *           <option value="1">Choice One</option>
 *           <option value="2">Choice Two</option>
 *           <option value="3">Choice Three</option>
 *       </select>
 *   </div>
 *   <div class="form-field">
 *       <select class="input--valid">
 *           <option value="-1">Please Choose</option>
 *           <option value="1" selected>Choice One</option>
 *           <option value="2">Choice Two</option>
 *           <option value="3">Choice Three</option>
 *       </select>
 *   </div>
 *   <div class="form-field">
 *       <select class="input--error">
 *           <option value="-1">Please Choose</option>
 *           <option value="1">Choice One</option>
 *           <option value="2">Choice Two</option>
 *           <option value="3">Choice Three</option>
 *       </select>
 *   </div>
 */
select {
  padding: $select--padding;
}

input[type="file"] {
  @extend input
}

label,
legend {
  display: block;
  font-size: $font--size--minus-one;
  font-family: $font--family;
  font-weight: $font--weight--regular;
  color: $text--color;
  margin: 0 0 rem-calc(6) 0;
}

select {
  width: $form--width;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin-bottom: 0;
  width: auto;

  &:disabled {
    background-color: $color--light-grey;
  }
}

/**
 * @atom Label
 * @section Forms > Labels
 * @modifiers
 *  .label--text Label text
 *  .label--inline Inline label
 * @markup
 *  <label class="label--text">Label Text</label>
 *  <input type="text"  placeholder="Text Input">
 */
label {
  &.label--text {
    margin-bottom: $gutter--half;
  }

  &.label--inline {
    display: inline;
  }
}

/**
 * Wrapper for form fields
 * @atom Form Field
 * @section Forms > Field
 * @modifiers
 *  .label--text Label text
 *  .label--inline Inline label
 * @markup
 *  <div class="form-field">
 *      <label class="label--text">Label Text</label>
 *      <input type="text"  placeholder="Text Input">
 *  </div>
 */
.form-field {
  margin-bottom: $gutter;
}

/**
 * @atom Field Error
 * @section Forms > Validation
 * @markup
 *  <div class="form-field">
 *      <label class="label--text">Label Text</label>
 *      <input type="text" placeholder="Text Input">
 *      <p class="field--error">Oh no!</p>
 *  </div>
 */
.field--error {
  padding-top: $gutter--half;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: $font--size--minus-one;
  color: $color--red;
}

/**
 * @atom Fieldset
 * @section Forms > Form Group
 * @markup
 *  <fieldset>
 *      <div class="form-field">
 *          <label class="label--text">Label One</label>
 *          <input type="text" placeholder="Enter Text">
 *      </div>
 *      <div class="form-field">
 *          <label class="label--text">Label Two</label>
 *          <input type="text" placeholder="Enter Text">
 *      </div>
 *  </fieldset>
 */
fieldset {
  padding: $gutter $gutter--half;
  margin-bottom: $gutter;
  border-radius: $border--radius;
  .form-field:last-of-type {
    margin-bottom: 0;
  }
}

/**
 * @atom Legend
 * @section Forms > Form Group
 * @markup
 *  <fieldset>
 *      <legend>Fieldset Legend</legend>
 *      <div class="form-field">
 *          <label class="label--text">Label</label>
 *          <input type="text" placeholder="Enter Text">
 *      </div>
 *  </fieldset>
 */
legend {
  font-size: $font--size--one;
  color: $text--color;
}
