
.hide {
  display: none;
}

.accent {
  color: $color--accent;
}

.valid-color {
  color: $color--valid;
}

.error-color {
  color: $color--error;
}

.relative {
  position: relative;
}

.text-color {
  color: $text--color;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.half-gutter-padding {
  padding: $gutter--half;
}

.half-gutter-padding-top {
  padding-top: $gutter--half;
}

.half-gutter-padding-left {
  padding-left: $gutter--half;
}

.half-gutter-padding-right {
  padding-right: $gutter--half;
}

.half-gutter-padding-bottom {
  padding-bottom: $gutter--half;
}

.gutter-padding {
  padding: $gutter;
}

.gutter-padding-top {
  padding-top: $gutter;
}

.gutter-padding-left {
  padding-left: $gutter;
}

.gutter-padding-right {
  padding-right: $gutter;
}

.gutter-padding-bottom {
  padding-bottom: $gutter;
}

.half-gutter-margin {
  margin: $gutter--half;
}

.half-gutter-margin-top {
  margin-top: $gutter--half;
}

.half-gutter-margin-left {
  margin-left: $gutter--half;
}

.half-gutter-margin-right {
  margin-right: $gutter--half;
}

.half-gutter-margin-bottom {
  margin-bottom: $gutter--half;
}

.gutter-margin {
  margin: $gutter;
}

.gutter-margin-top {
  margin-top: $gutter;
}

.gutter-margin-left {
  margin-left: $gutter;
}

.gutter-margin-right {
  margin-right: $gutter;
}

.gutter-margin-bottom {
  margin-bottom: $gutter;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.bc-transparent {
  background-color: transparent;
}
