/**
 * @atom Table
 * @section Table
 * @modifiers
 *  .table--alternating-rows Striped rows
 *  .table--alternating-columns Striped columns
 * @markup
 *  <table>
 *      <thead>
 *      <tr>
 *          <th>Table Heading 1</th>
 *          <th>Table Heading 2</th>
 *          <th>Table Heading 3</th>
 *      </tr>
 *      </thead>
 *      <tfoot>
 *      <tr>
 *          <th>Table Footer 1</th>
 *          <th>Table Footer 2</th>
 *          <th>Table Footer 3</th>
 *      </tr>
 *      </tfoot>
 *      <tbody>
 *      <tr>
 *          <td>Table Cell 1</td>
 *          <td>Table Cell 2</td>
 *          <td>Table Cell 3</td>
 *      </tr>
 *      <tr>
 *          <td>Table Cell 1</td>
 *          <td>Table Cell 2</td>
 *          <td>Table Cell 3</td>
 *      </tr>
 *      <tr>
 *          <td>Table Cell 1</td>
 *          <td>Table Cell 2</td>
 *          <td>Table Cell 3</td>
 *      </tr>
 *      <tr>
 *          <td>Table Cell 1</td>
 *          <td>Table Cell 2</td>
 *          <td>Table Cell 3</td>
 *      </tr>
 *      </tbody>
 *  </table>
 *
 *  <table class="table--alternating-rows">
 *      <thead>
 *      <tr>
 *          <th>Table Heading 1</th>
 *          <th>Table Heading 2</th>
 *          <th>Table Heading 3</th>
 *      </tr>
 *      </thead>
 *      <tbody>
 *      <tr>
 *          <td>Table Cell 1</td>
 *          <td>Table Cell 2</td>
 *          <td>Table Cell 3</td>
 *      </tr>
 *      <tr>
 *          <td>Table Cell 1</td>
 *          <td>Table Cell 2</td>
 *          <td>Table Cell 3</td>
 *      </tr>
 *      <tr>
 *          <td>Table Cell 1</td>
 *          <td>Table Cell 2</td>
 *          <td>Table Cell 3</td>
 *      </tr>
 *      <tr>
 *          <td>Table Cell 1</td>
 *          <td>Table Cell 2</td>
 *          <td>Table Cell 3</td>
 *      </tr>
 *      </tbody>
 *  </table>
 *
 *  <table class="table--alternating-columns">
 *      <thead>
 *      <tr>
 *          <th>Table Heading 1</th>
 *          <th>Table Heading 2</th>
 *          <th>Table Heading 3</th>
 *      </tr>
 *      </thead>
 *      <tbody>
 *      <tr>
 *          <td>Table Cell 1</td>
 *          <td>Table Cell 2</td>
 *          <td>Table Cell 3</td>
 *      </tr>
 *      <tr>
 *          <td>Table Cell 1</td>
 *          <td>Table Cell 2</td>
 *          <td>Table Cell 3</td>
 *      </tr>
 *      </tbody>
 *  </table>
 */
table {
  width: 100%;
  margin: 0 0 $gutter;

  th {
    text-align: left;
    font-weight: $font--weight--bold;
  }

  td, th {
    padding: $gutter--half / 3 $gutter--half / 2;
    border: none;
    border-bottom: $border--width $border--stroke $color--light-grey;
  }

  td {
    text-align: left;
    font-weight: $font--weight--regular;
  }

  &.table--alternating-rows {
    tr:nth-child(odd) td:nth-child(odd) {
      background-color: $color--lighter-grey;
    }

    tr:nth-child(even) td:nth-child(odd) {
      background-color: $color--lightest-grey
    }

    tr:nth-child(odd) td:nth-child(even) {
      background-color: $color--lighter-grey;
    }

    tr:nth-child(even) td:nth-child(even) {
      background-color: $color--lightest-grey;
    }
  }

  &.table--alternating-columns {
    td:nth-child(odd) {
      background-color: $color--lighter-grey;
    }

    td:nth-child(even) {
      background-color: $color--lightest-grey
    }
  }
}
