.regular {
  font-family: $font--family;
}

.medium {
  font-family: $font--family;
  font-weight: $font--weight--medium;
}

.semi-bold {
  font-family: $font--family;
  font-weight: $font--weight--semi-bold;
}

.text--bold {
  font-family: $font--family;
  font-weight: $font--weight--bold;
}
