
p, ul, ol, dl {
  margin-top: 0;
  margin-bottom: $gutter;
}

/**
 * @atom Headers
 * @section Typography > Headers
 * @markup
 *  <h1>Header One</h1>
 *  <h2>Header Two</h2>
 *  <h3>Header Three</h3>
 *  <h4>Header Four</h4>
 *  <h5>Header Five</h5>
 *  <h6>Header Six</h6>
 */
h1, h2, h3, h4, h5, h6 {
  color: $header--color;
  font-weight: $font--weight--bold;
  font-family: $font--family;
  margin-top: 0;
  margin-bottom: $gutter--half;
}

h1, .header-one {
  font-size: $font--size--five;
  font-weight: $font--weight--bold;
  line-height: $font--size--five + $font--leading;
  margin-bottom: $gutter--half;
}

h2, .header-two {
  font-size: $font--size--four;
  font-weight: $font--weight--bold;
  line-height: $font--size--four + $font--leading;
  margin-bottom: $gutter--half;
}

h3, .header-three {
  font-size: $font--size--three;
  font-weight: $font--weight--bold;
  line-height: $font--size--three + $font--leading;
  margin-bottom: $gutter--half;
}

h4, h5, h6,
.header-four, .header-five, .header-six {
  font-size: $font--size--one;
  font-weight: $font--weight--bold;
  line-height: $font--size--one + $font--leading;
  margin-bottom: $gutter--half;
}

/**
 * @atom Pretitle
 * @section Typography > Headers
 * @markup
 *  <header>
 *    <p class="pretitle">Pretitle</p>
 *    <h2>Header Two</h2>
 *  </header>
 */
.pretitle {
  font-size: $font--size--one;
  line-height: $font--size--one + $font--leading--loose;
  margin-bottom: 0;
}

/**
 * @atom Body Text
 * @section Typography > Text
 * @markup
 *  <p class="body-text">Earum dicta animi autem veritatis et ratione sed. Quisquam est neque quis ullam inventore odit ex sit. Sed voluptatem voluptatem quia rerum qui. Quaerat provident ipsa laudantium ut ipsa.</p>
 *  <p class="body-text">A non et iure non fuga. Quia quaerat ut autem id iste et maxime. Qui id consequatur recusandae qui vel et odio aliquam.</p>
 */
p, .body-text {
  color: $text--color;
  font-size: $font--size--one;
  font-weight: $font--weight--regular;
  font-family: $font--family;
  line-height: $font--size--one + $font--leading;
}

/**
 * @atom Intro Text
 * @section Typography > Text
 * @markup
 *  <p class="intro-text">Veritatis et ratione sed. Quisquam est neque quis ullam inventore odit ex sit. Sed voluptatem voluptatem quia rerum qui. Quaerat provident ipsa laudantium ut ipsa.</p>
 */
.intro-text {
  font-size: $font--size--two;
  line-height: $font--size--two + $font--leading;
}

/**
 * @atom Link
 * @section Typography > Inline Text
 * @markup
 *  <p class="body-text"><a href="#">Link Text</a></p>
 */
a, a:visited {
  color: $link--color;
  outline: 0;
  text-decoration: $link--decoration;
}

a:hover, a:focus {
  color: $link--color--hover;
  text-decoration: $link--decoration--hover;
}

p a, p a:visited {
  line-height: inherit;
}

menu,
ol,
ul {
  padding: 0;
}

nav ul,
nav ol {
  list-style: none;
}

/**
 * @atom Bold Text
 * @section Typography > Inline Text
 * @markup
 *  <p><strong>Strong Text</strong> and <span class="text--bold">Bold Text</span></p>
 */
strong,
.text--bold {
  font-weight: $font--weight--bold;
}

/**
 * @atom Emphasised Text
 * @section Typography > Inline Text
 * @markup
 *  <p><em>Em Text</em> and <span class="text--italic">Italic Text</span></p>
 */
em,
.text--italic {
  font-style: $font--emphasis;
}

/**
 * @atom Block Quote
 * @section Typography > Text
 * @markup
 *  <blockquote><p>Ipsam reprehenderit molestiae sit. Autem tempore dicta aspernatur voluptate recusandae aut fugit. Et vitae aut perferendis quas eum similique est ducimus. Recusandae ut est aut quas qui neque tenetur. Molestias veniam est modi tempore qui placeat quasi sed. Aliquid provident optio harum consectetur quo.</p></blockquote>
 */
blockquote {
  margin: 0 0 $gutter;
  padding: 0 $gutter;
  border-left: 3px solid $color--primary;
}

blockquote p:first-of-type:before {
  content: "\201C";
}

blockquote p:last-of-type:after {
  content: "\201D";
}

blockquote cite {
  font-style: normal;

  &:before {
    content: "\2014\2009";
  }
}

q {
  font-style: $font--emphasis;
}

/**
 * @atom Horizontal Rule
 * @section Typography > Rule
 * @markup
 *  <hr>
 */
hr {
  border: $border--stroke $border--color;
  border-width: $border--width 0 0;
  clear: both;
  margin: 0 0 $gutter;
  height: 0;
}

ul, ol {
  margin-left: $gutter--half;
  padding-left: $gutter--half;
  margin-bottom: $gutter;
}

/**
 * @atom Unordered List
 * @section Typography > Lists
 * @modifiers
 *  .list--none No list style
 *  .list--square List style square
 *  .list--circle List style circle
 *  .list--disc List style disc
 * @markup
 *  <ul>
 *      <li>This is a list item in an unordered list</li>
 *      <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an
 *          unordered list is a bulleted list. And this is a long list item in an unordered list that
 *          can wrap onto a new line.
 *      </li>
 *      <li>
 *          Lists can be nested inside of each other
 *          <ul>
 *              <li>This is a nested list item</li>
 *              <li>This is another nested list item in an unordered list</li>
 *          </ul>
 *      </li>
 *      <li>This is the last list item</li>
 *  </ul>
 */
ul {
  list-style: disc outside;
}

/**
 * @atom Ordered List
 * @section Typography > Lists
 * @markup
 *  <ol>
 *      <li>This is a list item in an ordered list</li>
 *      <li>An ordered list is a list in which the sequence of items is important. An ordered list does
 *          not necessarily contain sequence characters.
 *      </li>
 *      <li>
 *          Lists can be nested inside of each other
 *          <ol>
 *              <li>This is a nested list item</li>
 *              <li>This is another nested list item in an ordered list</li>
 *          </ol>
 *      </li>
 *      <li>This is the last list item</li>
 *  </ol>
 */
ol {
  list-style: decimal;
}

/**
 * @atom Definition List
 * @section Typography > Lists
 * @markup
 *  <dl>
 *      <dt>Definition List</dt>
 *      <dd>A number of connected items or names written or printed consecutively, typically one below
 *          the other.
 *      </dd>
 *      <dt>This is a term.</dt>
 *      <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
 *      <dt>Here is another term.</dt>
 *      <dd>And it gets a definition too, which is this line.</dd>
 *      <dt>Here is term that shares a definition with the term below.</dt>
 *      <dd>And it gets a definition too, which is this line.</dd>
 *  </dl>
 */
dl {
}

ul.list--none {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul.list--square {
  list-style: square outside;
}

ul.list--circle {
  list-style: circle outside;
}

ul.list--disc {
  list-style: disc outside;
}

ul ul, ul ol,
ol ol, ol ul {
  margin: 0 0 0 $gutter;
}

li, dt, dd {
  font-size: $font--size--one;
  color: $text--color;
  line-height: $font--size--one + $font--leading;
  margin-bottom: 0;
}

/**
 * @atom Code Block
 * @section Typography > Code
 * @modifiers
 *  .code--block display a block of code
 * @markup
 *  <p>Inline <code>// Code goes here</code></p>
 *  <code class="code--block">// Code goes here</code>
 */
code {
  background-color: $color--lighter-grey;
  color: $color--darker-grey;
  padding: 1px 3px;
  border-radius: 2px;

  &.code--block {
    display: block;
    padding: $gutter--half;
    background-color: $color--darker-grey;
    color: $color--light-grey;
    border-radius: $border--radius;
  }
}
