/**
 * @atom Border
 * @section Typography > Borders
 * @modifiers
 *  .border--tight Border with tighter padding and margin
 *  .border--loose Border with looser padding and margin
 *  .border--thick Border with thick stroke width
 *  .border--thicker Border with thicker stroke width
 *  .border--thickest Border with thickest stroke width
 * @markup
 *  <div class="border--bottom"><p>Border Bottom</p></div>
 *  <div class="border--bottom border--tight"><p>Border Bottom Tight</p></div>
 *  <div class="border--bottom border--loose"><p>Border Bottom Loose</p></div>
 *  <div class="border--bottom border--thick"><p>Border Bottom Thick</p></div>
 *  <div class="border--bottom border--thicker"><p>Border Bottom Thicker</p></div>
 *  <div class="border--bottom border--thickest"><p>Border Bottom Thickest</p></div>
 *  <div class="border--right"><p>Border Right</p></div>
 *  <div class="border--right border--tight"><p>Border Right Tight</p></div>
 *  <div class="border--right border--loose"><p>Border Right Loose</p></div>
 *  <div class="border--right border--thick"><p>Border Right Thick</p></div>
 *  <div class="border--right border--thicker"><p>Border Right Thicker</p></div>
 *  <div class="border--right border--thickest"><p>Border Right Thickest</p></div>
 *  <div class="border--left"><p>Border Left</p></div>
 *  <div class="border--left border--tight"><p>Border Left Tight</p></div>
 *  <div class="border--left border--loose"><p>Border Left Loose</p></div>
 *  <div class="border--left border--thick"><p>Border Left Thick</p></div>
 *  <div class="border--left border--thicker"><p>Border Left Thicker</p></div>
 *  <div class="border--left border--thickest"><p>Border Left Thickest</p></div>
 *  <div class="border--top"><p>Border Top</p></div>
 *  <div class="border--top border--tight"><p>Border Top Tight</p></div>
 *  <div class="border--top border--loose"><p>Border Top Loose</p></div>
 *  <div class="border--top border--thick"><p>Border Top Thick</p></div>
 *  <div class="border--top border--thicker"><p>Border Top Thicker</p></div>
 *  <div class="border--top border--thickest"><p>Border Top Thickest</p></div>
 */

.border--bottom {
    border-bottom: $border;
    padding-bottom: $gutter;
    margin-bottom: $gutter;

    &.border--tight {
        padding-bottom: $gutter--half;
        margin-bottom: $gutter--half;
    }

    &.border--loose {
        padding-bottom: $gutter--double;
        margin-bottom: $gutter--double;
    }
}

.border--top {
    border-top: $border;
    padding-top: $gutter;
    margin-top: $gutter;

    &.border--tight {
        padding-top: $gutter--half;
        margin-top: $gutter--half;
    }

    &.border--loose {
        padding-top: $gutter--double;
        margin-top: $gutter--double;
    }
}

.border--left {
    border-left: $border;
    padding-left: $gutter;

    &.border--tight {
        padding-left: $gutter--half;
    }

    &.border--loose {
        padding-left: $gutter--double;
    }
}

.border--right {
    border-right: $border;
    padding-right: $gutter;

    &.border--tight {
        padding-right: $gutter--half;
    }

    &.border--loose {
        padding-right: $gutter--double;
    }
}

.border--thick {
    border-width: $border--width * 2;
}

.border--thicker {
    border-width: $border--width * 3;
}

.border--thickest {
    border-width: $border--width * 4;
}
